@import "statement.css";

/*-----------------------------------------------header------------------------------------------------*/
header{
    background-color: #333333;
}
/*-----------header-ul----------------*/
.header-top{
    width: 100%;
}
.header-top ul{
    width: 1240px;
    height: 45px;
    margin: 0 auto;
}
.header-top ul li{
    float: left;
    margin:0 15px;
    /*height: 45px;*/
    text-align: center;
    line-height: 45px;
}
.header-top ul .login{
    color: #fa1d18;
}
.header-top ul li:nth-child(3){
    margin-left: 300px;
    line-height: 0;
}
.header-top ul li:nth-child(4){
    margin-left: 300px;
}
.header-top ul li a{
    color: white;
}
.header-top ul li a:hover{
    color: #fc0000;
}
/*-----------header-nav-----------------*/
.header-nav{
    width: 100%;
}
.header-nav .navUl{
    width: 1240px;
    height: 45px;
    margin: 0 auto;
}
.header-nav .navUl li{
    width: 95px;
    float: left;
    text-align: center;
    line-height: 45px;
    color: white;
}
.header-nav .navUl li:hover{
    background-color: #fc0000;
}

/*-----------------------------------------section-----------------------------------------------------*/
.section{
    width: 100%;
}
/*-------------commodity商品--------*/
.section .commodity{
    width: 1240px;
    margin: 0 auto;
}
.section .commodity .commodityUl li{
    position: relative;
    float: left;
    margin: 3px;
    border: 2px solid #ff5f17;
    width: 238px;
    height: 375px;
}
.section .commodity .commodityUl li img{
    width: 238px;
    height: 300px;
}
.section .commodity .commodityUl li div{
    position: absolute;
    bottom: 0;
}
.section .commodity .commodityUl li span{
    left: 10px;
    bottom: 100px;
    font-size: 24px;
    color: white;
    float: left;
    font-weight: bold;
    background-color: #ff5f17;
}
.section .commodity .commodityUl li p{
    color: #333333;
    bottom: 10px;
    font-size: 16px;
    width: 100%;
    margin: 3px;
}
.section .commodity .commodityUl li s{
    bottom: 70px;
    font-size: 20px;
    float: left;
    color: #3c3c3c;
    margin-left: 50px;

}
.section .commodity .commodityUl li b{
    color: #333333;
    bottom: 60px;
    font-size: 24px;
}


/*-----------banner---------------*/

.banner{
    width: 1235px;
    margin: 0 auto;
}
#carousel-container {
    position: relative;
    width: 0;

}
#carousel {
    width: 1235px;
    height: 400px;
    position: relative;
    overflow: hidden;

}
#carousel .carousel-button {
    position: absolute;
    height: 60px;
    top: 50%;
    font-size: 40pt;
    color:white;
    background-color: #333333;
    cursor: pointer;
}
#carousel .btn-pre {
    left: 10px;
}
#carousel .btn-next {
    right: 10px;
}
#carousel .carousel-content {
    width: 3000px;
    height: 2000px;
    position: relative;
}
#carousel .carousel-content img{
    width: 1235px;
    height: 400px;
}
#carousel .image-container {
    position: absolute;
}
.image-container a {
    display: block;
}
.image-container img {
    display: block;
}

