*{margin: 0;padding: 0;text-decoration: none;}
#login{
    width: 100%;
    height: 650px;
    background-image: url("../../images/register/t01b51183bc84744caf.jpg");
    background-size: 100% 100%;
    overflow: hidden;
}
.zc{
    width: 500px;
    height: 50px;
    line-height: 50px;
    margin:0 auto;
    margin-top: 150px;
    font-size: 26px;
    text-align: center;
    color: #ff3428;
    background-color: #37ff0a;
}
.header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    padding-left: 30px;
}
.header a{color: white;}
form{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: #5cff38;
    text-align: center;
    line-height: 90px;
    color: #ff2e0f;
}
.button{
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
span{
    margin-left: 10px;
}
a{
    color: blue;
}